{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2 class="fs-5 fw-bold text-primary mb-3">Projects BOTS</h2>
<div class="row gx-4 gy-4">
    <div class="col">
        <div class="card border-0 project-item">
            <a class="stretched-link text-decoration-none" href="{% url 'project_detail' 4 %}"></a>
            <img class="card-img w-100 d-block card-img-top" src="{% static 'img/projects/bot_hub_logo.png' %}">
            <div class="card-img-overlay text-white">
                <h4 class="fs-6 fw-bold mb-1">Robot HUB</h4>
                <p class="mb-0">O portal para ferramentas úteis no Telegram.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 project-item">
            <a class="stretched-link text-decoration-none" href="{% url 'project_detail' 1 %}"></a>
            <img class="card-img w-100 d-block card-img-top" src="{% static 'img/projects/utility_tarefas.webp' %}">
            <div class="card-img-overlay text-white">
                <h4 class="fs-6 fw-bold mb-1">UtilityForgeTask</h4>
                <p class="mb-0">Diversas funcionalidades para facilitar seu dia a dia.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-0 project-item">
            <a class="stretched-link text-decoration-none" href="{% url 'project_detail' 2 %}"></a>
            <img class="card-img w-100 d-block card-img-top" src="{% static 'img/projects/taskforgelab_logo.jpeg' %}">
            <div class="card-img-overlay text-white">
                <h4 class="fs-6 fw-bold mb-1">Bot de Legendas Automáticas</h4>
                <p class="mb-0">Gere legendas automaticamente para vídeos.</p>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <h3 class="fs-5 fw-bold text-primary mb-3">Descrição do site</h3>
    <p>O TaskForgeLAB oferece um ecossistema de bots inteligentes para automação, aprendizado e produtividade.<br>Acesse ferramentas poderosas no Telegram para facilitar seu dia a dia.<br><br></p>
    <div class="bg-primary-subtle d-md-flex justify-content-md-between p-3 mb-3">
        <div>
            <p class="fw-bold mb-1">Robot Hub</p>
            <p class="mb-0">Gerenciador de bots</p>
        </div>
        <div class="text-md-end">
            <p class="text-primary mb-1">Gerenciador de todos bots</p>
            <p class="mb-0">Bot Telegram</p>
        </div>
    </div>
    <div class="d-md-flex justify-content-md-between p-3 mb-3">
        <div>
            <p class="fw-bold mb-1">UtilityForgeTask</p>
            <p class="mb-0">Utilidades Gerais.</p>
        </div>
        <div class="text-md-end">
            <p class="text-primary mb-1">Ferramentas práticas</p>
            <p class="mb-0">Bot Telegram</p>
        </div>
    </div>
    <div class="bg-primary-subtle d-md-flex justify-content-md-between p-3 mb-3">
        <div class="mb-3 mb-md-0">
            <p class="fw-bold mb-1">Bot de Legendas</p>
            <p class="mb-0">Faça legendas automaticamente</p>
        </div>
        <div class="text-md-end">
            <p class="text-primary mb-1">Ferramentas praticas</p>
            <p class="mb-0">Bot Telegram</p>
        </div>
    </div>
    <div class="d-md-flex justify-content-md-between p-3 mb-3">
        <div class="mb-3 mb-md-0">
            <p class="fw-bold mb-1">Rastreador de Encomendas</p>
            <p class="mb-0">Bot para rastreador encomendas</p>
        </div>
        <div class="text-md-end">
            <p class="text-primary mb-1">Ferramentas práticas</p>
            <p class="mb-0">Bot Telegram</p>
        </div>
    </div>
</div>
{% endblock %}
